#breadcrumbs{
	position:fixed;
	top:0;
	left:0;
	right:0;
	-webkit-box-shadow: rgb(0, 0, 0) 0px 0px 8px 2px;
	box-shadow: 0 0 8px black;
}
#content{
	margin-top:	80px;
	padding:	20px;
	overflow:	auto;
}

#menu{
	visibility:	hidden;
	position:	absolute;
	left:		0px;
	width:		200px;
	top:		0px;
	bottom:		0px;
	bottom:		0;
	background:	#333;
	overflow: 	auto;
}

#dirs, #thumbs{
	text-align:	center;
	margin:		auto;
}

.thumb{
	display:	inline-block;
	width : 	250px;
	height:		160px;
	text-align:	center;
	margin:		0px 1px 10px 1px;
}

.thumb img{ 
	-webkit-box-shadow: rgb(0, 0, 0) 0px 0px 8px 2px;
	box-shadow: 0 0 8px black;
}

.folder{
	display: inline-block;
	position: relative;
	width:	300px;
	height:	160px;
	background:	blue;
	margin:	20px;
	-webkit-box-shadow: rgb(0, 0, 0) 0px 0px 8px 2px;
	box-shadow: 0 0 8px black;
	background-size: contain;
}

.folder .title{
	position:	absolute;
	bottom:		0;
	left:		0;
	right:		0;
	padding:	3px;
	background:	rgba(0,0,0,0.5);
	text-align:	center;
}

